<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    {{#block 'vedtak14a/partials/style' }}
    {{/block}}
</head>

<body>
<div class="main">
    <div class="header">

        <div class="returadresse">
            Returadresse,<br/>
            {{kontaktEnhetNavn}}, {{returadresse.adresselinje}}, {{returadresse.postnummer}} {{returadresse.poststed}}
        </div>

        <div class="nav-logo-container">
            <img class="nav-logo" src="{{image "Navlogo.png"}}">
            {{#eq malform "NN"}}
                <p>Unntatt offentleg innsyn etteroffentleglova § 13 første ledd og NAV-loven § 7</p>
            {{/eq}}
            {{#eq malform "NB"}}
                <p>Unntatt offentlighet etter offentleglova § 13 første ledd og NAV-loven § 7</p>
            {{/eq}}
        </div>

        <div class="personalia">
            <p>
                {{mottaker.navn}}<br/>
                {{mottaker.adresse.adresselinje1}}<br/>
                {{mottaker.adresse.adresselinje2}}<br/>
                {{mottaker.adresse.adresselinje3}}<br/>
                {{mottaker.adresse.postnummer}} {{mottaker.adresse.poststed}}
            </p>
        </div>
        <div class="dato">
            <p>Dato: {{dato}}</p>
        </div>
    </div>

    <div class="innhold">
        {{> @partial-block}}
    </div>
</div>
</body>

</html>
