<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    {{#block 'vedtak14a/partials/oyeblikk-style' }}
    {{/block}}
    <meta name="description" content="Registreringsdata"/>
    <meta name="author" content="Nav"/>
    <meta name="subject" content="Registreringsdata"/>
    <title>Svarene dine fra da du registrerte deg</title>
</head>

<body>
<div class="main">
    <div class="header">
        <div class="nav-logo-container">
            <div class="titel">
                <h1>Svarene dine fra da du registrerte deg</h1>
            </div>
            <svg class="nav-logo" width="54pt" height="16pt" viewBox="0 0 54 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="nav-logo"
                 role="img" alt="Nav-logo">
                <title>Nav-logo</title>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M53.5634 0H47.9438C47.9438 0 47.5565 2.51496e-08 47.4198 0.342616L44.3105 9.86751L41.2036 0.342616C41.0661 0.000843896 40.6771 0.000843921 40.6771 0.000843921H29.8733C29.7598 0.00171625 29.6513 0.0469939 29.5708 0.126972C29.4904 0.206949 29.4445 0.315262 29.4429 0.428692V3.66329C29.4429 1.09789 26.715 0.000843921 25.1168 0.000843921C21.5392 0.000843921 19.1445 2.35865 18.3986 5.9443C18.3581 3.5654 18.1607 2.71308 17.5202 1.84051C17.2258 1.41266 16.8013 1.05401 16.3389 0.756118C15.3855 0.197468 14.529 0.000843921 12.6904 0.000843921H10.5303C10.5303 0.000843921 10.1405 0.000843896 10.0029 0.342616L8.03776 5.21519V0.428692C8.03666 0.315705 7.99136 0.207642 7.91155 0.127666C7.83174 0.0476892 7.72378 0.00216274 7.6108 0.000843921H2.61305C2.61305 0.000843921 2.22744 0.000843896 2.08653 0.342616L0.0445676 5.40928C0.0445676 5.40928 -0.159629 5.91561 0.306142 5.91561H2.22744V15.5696C2.22744 15.8093 2.41561 16 2.65609 16H7.60912C7.66552 15.9999 7.72134 15.9887 7.77341 15.967C7.82548 15.9453 7.87276 15.9136 7.91256 15.8736C7.95237 15.8336 7.98391 15.7862 8.00539 15.7341C8.02687 15.6819 8.03787 15.626 8.03776 15.5696V5.91561H9.96919C11.0771 5.91561 11.3108 5.94599 11.742 6.14684C12.0019 6.24557 12.2356 6.44388 12.3639 6.67257C12.6254 7.16456 12.6904 7.75527 12.6904 9.49789V15.5696C12.6904 15.8093 12.8828 16 13.1207 16H17.8679C17.8679 16 18.4045 16 18.6163 15.4684L19.6685 12.8667C21.0675 14.8278 23.3702 15.9992 26.2323 15.9992H26.8576C26.8576 15.9992 27.3976 15.9992 27.6111 15.4692L29.4438 10.9283V15.5696C29.4438 15.6838 29.4891 15.7932 29.5698 15.8739C29.6505 15.9547 29.76 16 29.8741 16H34.72C34.72 16 35.2549 16 35.4693 15.4684C35.4693 15.4684 37.4074 10.654 37.415 10.6177H37.4184C37.4927 10.2169 36.9872 10.2169 36.9872 10.2169H35.2575V1.95443L40.6999 15.4692C40.9117 15.9992 41.4475 15.9992 41.4475 15.9992H47.1734C47.1734 15.9992 47.7118 15.9992 47.9244 15.4692L53.9583 0.518987C54.1667 0.000843871 53.5626 0.000843921 53.5626 0.000843921L53.5634 0ZM29.4421 10.2177H26.1868C25.5635 10.2177 24.9658 9.97011 24.5251 9.52936C24.0844 9.08861 23.8368 8.49083 23.8368 7.86751C23.8368 7.2442 24.0844 6.64641 24.5251 6.20566C24.9658 5.76491 25.5635 5.5173 26.1868 5.5173H27.0972C27.7198 5.51909 28.3163 5.76764 28.756 6.20849C29.1957 6.64933 29.4427 7.24653 29.4429 7.8692L29.4421 10.2177Z"
                      fill="#C30000" />
            </svg>
        </div>
    </div>

    <div class="innhold">
        {{#if registrering}}
            <div class="json-obj">
                {{#if registrering.opprettetDato}}
                    <div class="json-key-wrapper"><span class="json-key">Opprettet dato: </span><span>{{iso_to_long_date registrering.opprettetDato}}</span></div>
                {{/if}}

                {{#if registrering.besvarelse}}
                    <h3 class="json-key">Besvarelse</h3>
                    <div class="json-obj">
                        {{#if registrering.besvarelse.utdanning}}
                            <div class="json-key-wrapper"><span class="json-key">Hva er din høyeste fullførte utdanning? </span>
                            <span>
                            {{#eq registrering.besvarelse.utdanning "INGEN_UTDANNING"}} Ingen utdanning {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "GRUNNSKOLE"}} Grunnskole {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "VIDEREGAENDE_GRUNNUTDANNING"}} Videregående grunnutdanning (1 til 2 år) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "VIDEREGAENDE_FAGBREV_SVENNEBREV"}} Videregående, fagbrev eller svennebrev (3 år eller mer) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "HOYERE_UTDANNING_1_TIL_4"}} Høyere utdanning (1 til 4 år) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "HOYERE_UTDANNING_5_ELLER_MER"}} Høyere utdanning (5 år eller mer) {{/eq}}
                            </span>
                            </div>
                        {{/if}}
                        {{#if registrering.besvarelse.utdanningBestatt}}
                            <div class="json-key-wrapper"><span class="json-key">Er utdanningen din bestått? </span><span>
                            {{#eq registrering.besvarelse.utdanningBestatt "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.utdanningBestatt "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.utdanningGodkjent}}
                            <div class="json-key-wrapper"><span class="json-key">Er utdanningen din godkjent i Norge? </span><span>
                            {{#eq registrering.besvarelse.utdanningGodkjent "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.utdanningGodkjent "NEI"}} Nei {{/eq}}
                            {{#eq registrering.besvarelse.utdanningGodkjent "VET_IKKE"}} Vet ikke {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.helseHinder}}
                            <div class="json-key-wrapper"><span class="json-key">Har du helseproblemer som hindrer deg i å søke eller være i jobb? </span><span>
                            {{#eq registrering.besvarelse.helseHinder "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.helseHinder "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.andreForhold}}
                            <div class="json-key-wrapper"><span class="json-key">Har du andre problemer med å søke eller være i jobb? </span><span>
                            {{#eq registrering.besvarelse.andreForhold "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.andreForhold "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.sisteStilling}}
                            <div class="json-key-wrapper"><span class="json-key">Hva er din siste jobb? </span><span>
                            {{#eq registrering.besvarelse.sisteStilling "HAR_HATT_JOBB"}} Har vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.sisteStilling "HAR_IKKE_HATT_JOBB"}} Har ikke vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.sisteStilling "INGEN_SVAR"}} Ikke besvart {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.dinSituasjon}}
                            <div class="json-key-wrapper"><span class="json-key">Hvilken jobbsituasjon passer best? </span><span>
                            {{#eq registrering.besvarelse.dinSituasjon "MISTET_JOBBEN"}} Har mistet eller kommer til å miste jobben {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "HAR_SAGT_OPP"}} Har sagt opp eller kommer til å si opp {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "DELTIDSJOBB_VIL_MER"}} Har deltidsjobb, men vil jobbe mer {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ALDRI_HATT_JOBB"}} Har aldri vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "VIL_BYTTE_JOBB"}} Har jobb, men vil bytte {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "JOBB_OVER_2_AAR"}} Har ikke vært i jobb de siste 2 årene {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ER_PERMITTERT"}} Er permittert eller kommer til å bli permittert {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "USIKKER_JOBBSITUASJON"}} Er usikker på jobbsituasjonen min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "AKKURAT_FULLFORT_UTDANNING"}} Har akkurat fullført utdanning, militærtjeneste eller annet {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "VIL_FORTSETTE_I_JOBB"}} Har jobb og ønsker å fortsette i den jobben jeg er i {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "OPPSIGELSE"}} Jeg har blitt sagt opp av arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ENDRET_PERMITTERINGSPROSENT"}} Arbeidsgiver har endret permitteringen min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "TILBAKE_TIL_JOBB"}} Jeg skal tilbake i jobb hos min nåværende arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "NY_JOBB"}} Jeg skal begynne å jobbe hos en annen arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "MIDLERTIDIG_JOBB"}} Jeg har fått midlertidig jobb hos en annen arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "KONKURS"}} Arbeidsgiveren min er konkurs {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "SAGT_OPP"}} Jeg har sagt opp jobben min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ANNET"}} Situasjonen min har endret seg, men ingen av valgene passet {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.fremtidigSituasjon}}
                            <div class="json-key-wrapper"><span class="json-key">Hva tenker du om din fremtidige situasjon? </span><span>
                            {{#eq registrering.besvarelse.fremtidigSituasjon "SAMME_ARBEIDSGIVER"}} Jeg skal tilbake til jobben jeg har {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "SAMME_ARBEIDSGIVER_NY_STILLING"}} Jeg skal tilbake til arbeidsgiveren min, men i ny stilling {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "NY_ARBEIDSGIVER"}} Jeg trenger ny jobb {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "USIKKER"}} Jeg er usikker {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "INGEN_PASSER"}} Ingen av disse alternativene passer {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.tilbakeIArbeid}}
                            <div class="json-key-wrapper"><span class="json-key">Tror du at du kommer tilbake i jobb før du har vært sykmeldt i 52 uker? </span><span>
                            {{#eq registrering.besvarelse.tilbakeIArbeid "JA_FULL_STILLING"}} Ja, i full stilling {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "JA_REDUSERT_STILLING"}} Ja, i redusert stilling {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "USIKKER"}} Usikker {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                    </div>
                {{/if}}


                {{#if registrering.teksterForBesvarelse}}
                    <div class="json-array-wrapper">
                        <h3 class="json-key">Tekster for besvarelse</h3>
                        <ul class="json-array">
                        {{#each registrering.teksterForBesvarelse}}
                             <li>
                                <div class="json-key-wrapper"><span class="json-key">Spørsmål: </span><span>{{sporsmal}}</span></div>
                                <div class="json-key-wrapper"><span class="json-key">Svar: </span><span>{{svar}}</span></div>
                             </li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}


                {{#if registrering.sisteStilling}}
                    <h3 class="json-key">Siste stilling</h3>
                    <div class="json-obj"><div class="json-key-wrapper"><span class="json-key">Stilling: </span><span>{{registrering.sisteStilling.label}}</span></div></div>
                {{/if}}

                {{#if registrering.profilering}}
                        <h3 class="json-key">Profilering</h3>
                        <div class="json-obj">
                            <div class="json-key-wrapper">
                                <span class="json-key">Innsatsgruppe: </span>
                                {{#eq registrering.profilering.innsatsgruppe "STANDARD_INNSATS"}} Standard innsats {{/eq}}
                                {{#eq registrering.profilering.innsatsgruppe "SITUASJONSBESTEMT_INNSATS"}} Situasjonsbestemt innsats {{/eq}}
                                {{#eq registrering.profilering.innsatsgruppe "BEHOV_FOR_ARBEIDSEVNEVURDERING"}} Behov for arbeidsevnevurdering {{/eq}}
                            </div>
                            <div class="json-key-wrapper">
                                <span class="json-key">Alder: </span>
                                <span>{{registrering.profilering.alder}}</span>
                            </div>
                            {{#if profilering.jobbetSammenhengendeSeksAvTolvSisteManeder }}
                                <div class="json-key-wrapper">
                                    <span class="json-key">Jobbet sammenhengende seks av tolv siste måneder: </span>
                                    <span>{{profilering.jobbetSammenhengendeSeksAvTolvSisteManeder}}</span>
                                </div>
                            {{/if}}
                        </div>
                {{/if}}

                {{#if registrering.manueltRegistrertAv}}
                    <div class="json-obj">
                        <div class="json-key-wrapper">
                            <span class="json-key">Registrert av ident: </span>
                            <span>{{registrering.manueltRegistrertAv.ident}}</span>
                        </div>
                        <div class="json-key-wrapper">
                            <span class="json-key">Enhet: </span>
                            <span>{{registrering.manueltRegistrertAv.enhet.navn}}</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <b>Ingen registrerte data:</b> Personen har ikke registrert noen svar.
        {{/if}}
    </div>
</div>
</body>

</html>
