<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    {{#block 'vedtak14a/partials/oyeblikk-style' }}
    {{/block}}
    <meta name="description" content="Registreringsdata"/>
    <meta name="author" content="NAV"/>
    <meta name="subject" content="Registreringsdata"/>
    <title>Svarene dine fra da du registrerte deg</title>
</head>

<body>
<div class="main">
    <div class="header">
        <div class="nav-logo-container">
            <div class="titel">
                <h1>Svarene dine fra da du registrerte deg</h1>
            </div>
            <svg class="nav-logo" viewBox="0 -1 269 171" xmlns="http://www.w3.org/2000/svg" aria-label="NAV logo" aria-labelledby="logoTitle" role="img" >
                <title id="logoTitle">NAV logo</title>
                <g fill="none" fill-rule="evenodd">
                    <path
                            d="M125.31 168.942c-46.642 0-84.46-37.817-84.46-84.465C40.85 37.824 78.667 0 125.31 0c46.657 0 84.48 37.824 84.48 84.477 0 46.648-37.823 84.465-84.48 84.465ZM0 121.359l17.265-42.73h16.589l-17.243 42.73zM213.044 121.359l17.044-42.73h9.044l-17.043 42.73zM246.564 121.359l17.04-42.73h4.804l-17.044 42.73z"
                            fill="#C30000" />
                    <path
                            d="M197.36 78.63h-15.016s-1.035 0-1.4.914l-8.31 25.439-8.304-25.44c-.366-.913-1.407-.913-1.407-.913h-28.872c-.625 0-1.149.522-1.149 1.143v8.639c0-6.853-7.292-9.782-11.562-9.782-9.562 0-15.963 6.298-17.956 15.873-.108-6.352-.636-8.628-2.347-10.96-.786-1.141-1.922-2.101-3.159-2.895-2.547-1.492-4.834-2.018-9.749-2.018h-5.77s-1.044 0-1.412.914l-5.25 13.013V79.773c0-.621-.52-1.143-1.145-1.143H61.198s-1.03 0-1.406.914l-5.459 13.53s-.545 1.354.701 1.354h5.133v25.784c0 .64.504 1.147 1.147 1.147h13.238c.624 0 1.144-.507 1.144-1.147V94.428h5.16c2.961 0 3.588.08 4.74.618.694.262 1.32.792 1.66 1.403.698 1.314.873 2.892.873 7.545v16.218c0 .64.514 1.147 1.15 1.147h12.687s1.434 0 2.001-1.416l2.812-6.95c3.74 5.237 9.893 8.366 17.541 8.366h1.671s1.443 0 2.014-1.416l4.897-12.128v12.397c0 .64.524 1.147 1.15 1.147h12.951s1.43 0 2.003-1.416c0 0 5.18-12.861 5.2-12.958h.008c.2-1.07-1.153-1.07-1.153-1.07h-4.623V83.847l14.545 36.096c.568 1.416 2 1.416 2 1.416h15.301s1.44 0 2.008-1.416l16.125-39.93c.558-1.383-1.057-1.383-1.057-1.383Zm-64.458 27.285h-8.7c-3.463 0-6.28-2.804-6.28-6.271 0-3.461 2.817-6.283 6.28-6.283h2.433c3.454 0 6.267 2.822 6.267 6.283v6.27Z"
                            fill="#FEFEFE" />
                </g>
            </svg>
        </div>
    </div>

    <div class="innhold">
        {{#if registrering}}
            <div class="json-obj">
                {{#if registrering.opprettetDato}}
                    <div class="json-key-wrapper"><span class="json-key">Opprettet dato: </span><span>{{iso_to_long_date registrering.opprettetDato}}</span></div>
                {{/if}}

                {{#if registrering.besvarelse}}
                    <h3 class="json-key">Besvarelse</h3>
                    <div class="json-obj">
                        {{#if registrering.besvarelse.utdanning}}
                            <div class="json-key-wrapper"><span class="json-key">Hva er din høyeste fullførte utdanning? </span>
                            <span>
                            {{#eq registrering.besvarelse.utdanning "INGEN_UTDANNING"}} Ingen utdanning {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "GRUNNSKOLE"}} Grunnskole {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "VIDEREGAENDE_GRUNNUTDANNING"}} Videregående grunnutdanning (1 til 2 år) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "VIDEREGAENDE_FAGBREV_SVENNEBREV"}} Videregående, fagbrev eller svennebrev (3 år eller mer) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "HOYERE_UTDANNING_1_TIL_4"}} Høyere utdanning (1 til 4 år) {{/eq}}
                            {{#eq registrering.besvarelse.utdanning "HOYERE_UTDANNING_5_ELLER_MER"}} Høyere utdanning (5 år eller mer) {{/eq}}
                            </span>
                            </div>
                        {{/if}}
                        {{#if registrering.besvarelse.utdanningBestatt}}
                            <div class="json-key-wrapper"><span class="json-key">Er utdanningen din bestått? </span><span>
                            {{#eq registrering.besvarelse.utdanningBestatt "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.utdanningBestatt "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.utdanningGodkjent}}
                            <div class="json-key-wrapper"><span class="json-key">Er utdanningen din godkjent i Norge? </span><span>
                            {{#eq registrering.besvarelse.utdanningGodkjent "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.utdanningGodkjent "NEI"}} Nei {{/eq}}
                            {{#eq registrering.besvarelse.utdanningGodkjent "VET_IKKE"}} Vet ikke {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.helseHinder}}
                            <div class="json-key-wrapper"><span class="json-key">Har du helseproblemer som hindrer deg i å søke eller være i jobb? </span><span>
                            {{#eq registrering.besvarelse.helseHinder "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.helseHinder "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.andreForhold}}
                            <div class="json-key-wrapper"><span class="json-key">Har du andre problemer med å søke eller være i jobb? </span><span>
                            {{#eq registrering.besvarelse.andreForhold "JA"}} Ja {{/eq}}
                            {{#eq registrering.besvarelse.andreForhold "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.sisteStilling}}
                            <div class="json-key-wrapper"><span class="json-key">Hva er din siste jobb? </span><span>
                            {{#eq registrering.besvarelse.sisteStilling "HAR_HATT_JOBB"}} Har vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.sisteStilling "HAR_IKKE_HATT_JOBB"}} Har ikke vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.sisteStilling "INGEN_SVAR"}} Ikke besvart {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.dinSituasjon}}
                            <div class="json-key-wrapper"><span class="json-key">Hvilken jobbsituasjon passer best? </span><span>
                            {{#eq registrering.besvarelse.dinSituasjon "MISTET_JOBBEN"}} Har mistet eller kommer til å miste jobben {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "HAR_SAGT_OPP"}} Har sagt opp eller kommer til å si opp {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "DELTIDSJOBB_VIL_MER"}} Har deltidsjobb, men vil jobbe mer {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ALDRI_HATT_JOBB"}} Har aldri vært i jobb {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "VIL_BYTTE_JOBB"}} Har jobb, men vil bytte {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "JOBB_OVER_2_AAR"}} Har ikke vært i jobb de siste 2 årene {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ER_PERMITTERT"}} Er permittert eller kommer til å bli permittert {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "USIKKER_JOBBSITUASJON"}} Er usikker på jobbsituasjonen min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "AKKURAT_FULLFORT_UTDANNING"}} Har akkurat fullført utdanning, militærtjeneste eller annet {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "VIL_FORTSETTE_I_JOBB"}} Har jobb og ønsker å fortsette i den jobben jeg er i {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "OPPSIGELSE"}} Jeg har blitt sagt opp av arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ENDRET_PERMITTERINGSPROSENT"}} Arbeidsgiver har endret permitteringen min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "TILBAKE_TIL_JOBB"}} Jeg skal tilbake i jobb hos min nåværende arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "NY_JOBB"}} Jeg skal begynne å jobbe hos en annen arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "MIDLERTIDIG_JOBB"}} Jeg har fått midlertidig jobb hos en annen arbeidsgiver {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "KONKURS"}} Arbeidsgiveren min er konkurs {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "SAGT_OPP"}} Jeg har sagt opp jobben min {{/eq}}
                            {{#eq registrering.besvarelse.dinSituasjon "ANNET"}} Situasjonen min har endret seg, men ingen av valgene passet {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.fremtidigSituasjon}}
                            <div class="json-key-wrapper"><span class="json-key">Hva tenker du om din fremtidige situasjon? </span><span>
                            {{#eq registrering.besvarelse.fremtidigSituasjon "SAMME_ARBEIDSGIVER"}} Jeg skal tilbake til jobben jeg har {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "SAMME_ARBEIDSGIVER_NY_STILLING"}} Jeg skal tilbake til arbeidsgiveren min, men i ny stilling {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "NY_ARBEIDSGIVER"}} Jeg trenger ny jobb {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "USIKKER"}} Jeg er usikker {{/eq}}
                            {{#eq registrering.besvarelse.fremtidigSituasjon "INGEN_PASSER"}} Ingen av disse alternativene passer {{/eq}}
                            </span></div>
                        {{/if}}
                        {{#if registrering.besvarelse.tilbakeIArbeid}}
                            <div class="json-key-wrapper"><span class="json-key">Tror du at du kommer tilbake i jobb før du har vært sykmeldt i 52 uker? </span><span>
                            {{#eq registrering.besvarelse.tilbakeIArbeid "JA_FULL_STILLING"}} Ja, i full stilling {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "JA_REDUSERT_STILLING"}} Ja, i redusert stilling {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "USIKKER"}} Usikker {{/eq}}
                            {{#eq registrering.besvarelse.tilbakeIArbeid "NEI"}} Nei {{/eq}}
                            </span></div>
                        {{/if}}
                    </div>
                {{/if}}


                {{#if registrering.teksterForBesvarelse}}
                    <div class="json-array-wrapper">
                        <h3 class="json-key">Tekster for besvarelse</h3>
                        <ul class="json-array">
                        {{#each registrering.teksterForBesvarelse}}
                             <li>
                                <div class="json-key-wrapper"><span class="json-key">Spørsmål: </span><span>{{sporsmal}}</span></div>
                                <div class="json-key-wrapper"><span class="json-key">Svar: </span><span>{{svar}}</span></div>
                             </li>
                        {{/each}}
                        </ul>
                    </div>
                {{/if}}


                {{#if registrering.sisteStilling}}
                    <h3 class="json-key">Siste stilling</h3>
                    <div class="json-obj"><div class="json-key-wrapper"><span class="json-key">Stilling: </span><span>{{registrering.sisteStilling.label}}</span></div></div>
                {{/if}}

                {{#if registrering.profilering}}
                        <h3 class="json-key">Profilering</h3>
                        <div class="json-obj">
                            <div class="json-key-wrapper">
                                <span class="json-key">Innsatsgruppe: </span>
                                {{#eq registrering.profilering.innsatsgruppe "STANDARD_INNSATS"}} Standard innsats {{/eq}}
                                {{#eq registrering.profilering.innsatsgruppe "SITUASJONSBESTEMT_INNSATS"}} Situasjonsbestemt innsats {{/eq}}
                                {{#eq registrering.profilering.innsatsgruppe "BEHOV_FOR_ARBEIDSEVNEVURDERING"}} Behov for arbeidsevnevurdering {{/eq}}
                            </div>
                            <div class="json-key-wrapper">
                                <span class="json-key">Alder: </span>
                                <span>{{registrering.profilering.alder}}</span>
                            </div>
                            <div class="json-key-wrapper">
                                <span class="json-key">Jobbet sammenhengende seks av tolv siste måneder: </span>
                                <span>{{profilering.jobbetSammenhengendeSeksAvTolvSisteManeder}}</span>
                            </div>
                        </div>
                {{/if}}

                {{#if registrering.manueltRegistrertAv}}
                    <div class="json-obj">
                        <div class="json-key-wrapper">
                            <span class="json-key">Registrert av ident: </span>
                            <span>{{registrering.manueltRegistrertAv.ident}}</span>
                        </div>
                        <div class="json-key-wrapper">
                            <span class="json-key">Enhet: </span>
                            <span>{{registrering.manueltRegistrertAv.enhet.navn}}</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <b>Ingen registrerte data:</b> Personen har ikke registrert noen svar.
        {{/if}}
    </div>
</div>
</body>

</html>