<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    {{#block 'vedtak14a/partials/oyeblikk-style' }}
    {{/block}}
    <meta name="description" content="Behovsvurdering"/>
    <meta name="author" content="Nav"/>
    <meta name="subject" content="Behovsvurdering"/>
    <title>Svarene dine om behov for veiledning</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <div class="titel">
                <h1>Svarene dine om behov for veiledning</h1>
            </div>
            <div class="nav-logo-container">
                <svg class="nav-logo" width="54pt" height="16pt" viewBox="0 0 54 16" fill="none" xmlns="http://www.w3.org/2000/svg" id="nav-logo"
                     role="img" alt="Nav-logo">
                    <title>Nav-logo</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M53.5634 0H47.9438C47.9438 0 47.5565 2.51496e-08 47.4198 0.342616L44.3105 9.86751L41.2036 0.342616C41.0661 0.000843896 40.6771 0.000843921 40.6771 0.000843921H29.8733C29.7598 0.00171625 29.6513 0.0469939 29.5708 0.126972C29.4904 0.206949 29.4445 0.315262 29.4429 0.428692V3.66329C29.4429 1.09789 26.715 0.000843921 25.1168 0.000843921C21.5392 0.000843921 19.1445 2.35865 18.3986 5.9443C18.3581 3.5654 18.1607 2.71308 17.5202 1.84051C17.2258 1.41266 16.8013 1.05401 16.3389 0.756118C15.3855 0.197468 14.529 0.000843921 12.6904 0.000843921H10.5303C10.5303 0.000843921 10.1405 0.000843896 10.0029 0.342616L8.03776 5.21519V0.428692C8.03666 0.315705 7.99136 0.207642 7.91155 0.127666C7.83174 0.0476892 7.72378 0.00216274 7.6108 0.000843921H2.61305C2.61305 0.000843921 2.22744 0.000843896 2.08653 0.342616L0.0445676 5.40928C0.0445676 5.40928 -0.159629 5.91561 0.306142 5.91561H2.22744V15.5696C2.22744 15.8093 2.41561 16 2.65609 16H7.60912C7.66552 15.9999 7.72134 15.9887 7.77341 15.967C7.82548 15.9453 7.87276 15.9136 7.91256 15.8736C7.95237 15.8336 7.98391 15.7862 8.00539 15.7341C8.02687 15.6819 8.03787 15.626 8.03776 15.5696V5.91561H9.96919C11.0771 5.91561 11.3108 5.94599 11.742 6.14684C12.0019 6.24557 12.2356 6.44388 12.3639 6.67257C12.6254 7.16456 12.6904 7.75527 12.6904 9.49789V15.5696C12.6904 15.8093 12.8828 16 13.1207 16H17.8679C17.8679 16 18.4045 16 18.6163 15.4684L19.6685 12.8667C21.0675 14.8278 23.3702 15.9992 26.2323 15.9992H26.8576C26.8576 15.9992 27.3976 15.9992 27.6111 15.4692L29.4438 10.9283V15.5696C29.4438 15.6838 29.4891 15.7932 29.5698 15.8739C29.6505 15.9547 29.76 16 29.8741 16H34.72C34.72 16 35.2549 16 35.4693 15.4684C35.4693 15.4684 37.4074 10.654 37.415 10.6177H37.4184C37.4927 10.2169 36.9872 10.2169 36.9872 10.2169H35.2575V1.95443L40.6999 15.4692C40.9117 15.9992 41.4475 15.9992 41.4475 15.9992H47.1734C47.1734 15.9992 47.7118 15.9992 47.9244 15.4692L53.9583 0.518987C54.1667 0.000843871 53.5626 0.000843921 53.5626 0.000843921L53.5634 0ZM29.4421 10.2177H26.1868C25.5635 10.2177 24.9658 9.97011 24.5251 9.52936C24.0844 9.08861 23.8368 8.49083 23.8368 7.86751C23.8368 7.2442 24.0844 6.64641 24.5251 6.20566C24.9658 5.76491 25.5635 5.5173 26.1868 5.5173H27.0972C27.7198 5.51909 28.3163 5.76764 28.756 6.20849C29.1957 6.64933 29.4427 7.24653 29.4429 7.8692L29.4421 10.2177Z"
                          fill="#C30000" />
                </svg>
            </div>
        </div>

        <div class="innhold">
            {{#if sistOppdatert}}
                <div class="json-key-wrapper">
                    <span class="json-key">Sist oppdatert: </span>
                    <span>{{iso_to_long_date sistOppdatert}}</span>
                </div>

                <div class="json-array-wrapper">
                    <h3 class="json-key">Svar</h3>
                    <ul class="json-array">
                        {{#each svar}}
                            <li>
                                {{#if spm}}
                                    <div class="json-key-wrapper">
                                        <span class="json-key">Spørsmål: </span>
                                        <span>{{spm}}</span>
                                    </div>
                                {{/if}}
                                {{#if svar}}
                                    <div class="json-key-wrapper">
                                        <span class="json-key">Svar: </span>
                                        <span>{{svar}}</span>
                                    </div>
                                {{/if}}
                                {{#if dialogId}}
                                    <div class="json-key-wrapper">
                                        <span class="json-key">DialogId: </span>
                                        <span>{{dialogId}}</span>
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{else}}
                <b>Ingen registrerte data:</b> Personen har ikke registrert svar om behov for veiledning.
            {{/if}}
        </div>
    </div>
</body>

</html>
